<div class="row">
    <div class="landingimagecontainer">
        <div class="landingcontainer">
            <div class="landingelementcontainer align-self-center">
                <h1>Support the game <br> by playing!</h1>
                <%= link_to "Support","https://www.roblox.com/games/6645406525/CastleDonia" , class: "btn btn-support-button" %>
                <h4>or by joining <br> the discord server!</h4>
                <%= link_to "Join","https://discord.gg/dg37UyhAwb" , class: "btn btn-join-button" %>
            </div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="textcontainer">
        <h1>About the game:</h1>
            
        <p>The game is inspired by Stickman: legacy, Field of battles and Tower Battles. 
            The concept of the game is that there are two teams. Red and Blue. 
            You have an aerial view of the entire battlefield. You control a team and fight the opposite team by spawning in offensive units and defensive units
        </p><br>
        <h2>Gameplay</h2>
        <p>
            You spawn in the game with 500 cash. Recommended action is to recruit miners. They cost 125 each. 
            They will mine gold and give you cash. With the gold you can place, upgrade and spawn units. 
            There are 3 types of units: Offensive(spawn in), Defensive(place) and Workers(spawn) Use the units to defend and attack. 
            You can unlock them in the lobby's shop. Starter troops are Dummy, miner and StoneThrower. First team to break the other team's wall wins. 
            There is also a 10 minute timer, if it ends the one with the most damage wins. If both have max health than it will be a "AFK" match where both teams will have 50 credits deducted. Credits is the in-shop currencies. If you win, you get 100 credits.
        </p><br>
        <h2>The Lobby:</h2>
        <p>
            The place you spawn in when you join the game. 
            Hop in a pod to join a game. You need 2 players to create a new game. 
            You can unlock towers via the shop as stated above with credits of course.
            The shop will have towers, ranks(special tags and daily bonuses) and skins(For tryhards)
        </p><br>
        <p class="small">That was a rough explanation of the game. There will be updates to it.</p>
    </div>
</div>
<div class="divider"></div>
<br>
<div class="row">
    <div class="featurescontainer">
        <div class="header">Features</div>
    </div>
</div>