.form-container {
    height: 700px;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-form {
    display: block;
    position: relative;
    margin-left: 350px;
    top: 200px;
} 