header {
    background: white;
    padding: 20px;
    position: sticky;
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
  }
  
.navbar a {
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

.navbar a:hover {
    color: #000;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 40px;
  width: auto;
}