header {
    background: white;
    padding: 20px;
    position: sticky;
    border-bottom: 1px solid darkgrey;
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
  }
  
  #signup-button {
    width: 150px;
    height: 20px;
    border-radius: .25rem;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    padding: 10px;
    float: right;
    text-align: center;
    a {
      text-decoration: none;
      color: blue;
      font-weight: 10px;
      font-size: 17px;
    }
  }

#username {
  float: right;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  font-weight: 10px;
  color: black;
}

  #signout-button {
    width: 150px;
    height: 20px;
    border-radius: .25rem;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    margin-right: 10px;
    padding: 10px;
    float: right;
    text-align: center;
    a {
      text-decoration: none;
      color: blue;
      font-weight: 10px;
      font-size: 17px;
    }
  }

  #login-button {
    width: 150px;
    height: 20px;
    border-radius: .25rem;
    border-style: solid;
    border-color: lightgreen;
    border-width: 1px;
    padding: 10px;
    float: right;
    text-align: center;
    margin-right: 10px;
    a {
      text-decoration: none;
      color: lightgreen;
      font-weight: 10px;
      font-size: 17px;
    }
  }

.navbar a {
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

.navbar a:hover {
    color: #000;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 40px;
  width: auto;
}